
.audio-container{
    border: solid black;
}

.audio-companys{
    border: solid black;
    height: 300px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#JL{
    background-image: url('../../pictures/jlAudio.webp');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
    
}
#JL:hover{
    transform: translate3D(0,-1px,0) scale(1.03);
}

#Fusion{
    background-image: url('../../pictures/Fusion.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
   
    /* height: 600px; */
}

#Wetsound{
    background-image: url('../../pictures/wetsound.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
    /* height: 600px; */
}
#Rockford{
    background-image: url('../../pictures/rockford.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
    padding-top:400px;
    /* padding-bottom: 400px; */
    /* height: 600px; */
}
#Roswell{
    background-image: url('../../pictures/ros.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
    /* height: 600px; */
}