
.audio-container{
    border: solid black;
}

.jl-container{
    border: solid black;
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fusion-container{
    border: solid black;
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wetsound-container{
    border: solid black;
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.roswell-container{
    border: solid black;
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rockford-container{
    border: solid black;
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}