.comunication-companys{
    border: solid black;
    height: 265px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#vhfs{
    background-color: aliceblue;
}