*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.home-container{
    background-image: url('/public/invincible-boats.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
    height: 600px;

    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;


}

.inner-home-containter{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
}


.cards{
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    
}

.catagorys{
    height: 250px;
    width: 350px;
    border: solid black;
    /* background-image: url('/pictures/audio.webp'); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.catagorys2{
    height: 250px;
    width: 609px;
    border: solid black;
    /* background-image: url('/pictures/sonar.webp'); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
}

.catagorys:hover{
    cursor: pointer;
    transform: translate3D(0,-1px,0) scale(1.03);
}

.catagorys2:hover{
    cursor: pointer;
    transform: translate3D(0,-1px,0) scale(1.03);
}

#audio{
    background-image: url('/pictures/audio.webp');
}


#lighting-card{
    background-image: url('/pictures/lights.jpeg');
}

#nav-card{
    background-image: url('/pictures/nav.jpeg');
}

#com-card{
    background-image: url('/pictures/com.jpeg');
}

#sonar-card{
    background-image: url('/pictures/sonar.webp');
}

#radar-card{
    background-image: url('/pictures/radar.webp');
}

@media only screen  and (max-width:800px){
    .catagorys{
        height: 250px;
        width: 100vw;
        border: solid black;
        /* background-image: url('/pictures/audio.webp'); */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}