
.garmin-container{
    border: solid black;
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.simrad-container{
    border: solid black;
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.furuno-container{
    border: solid black;
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.raymarine-container{
    border: solid black;
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}