
.product-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100vw;
    border: black solid;
}

.product-name{
    display: flex;
    justify-content: center;
}

.products{
    height: fit-content;
    width: 100vw;
    border: solid black;
}

#jl-header{
    background-image: url(/pictures/jlBoat.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
    background-repeat: no-repeat;
    
}

.productCards{
    height: fit-content;
    width: 200px;
    border: black solid;
}

.Name{
    font-weight: bold;
    color: blue;
}