

.sonar-companys{
    border: solid black;
    height: 200px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#airmar{
    background-image: url('../../pictures/airmar.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
}